src/DataTinkering/df_checkpoint.pkl
src/DataTinkering/lsi.model
src/DataTinkering/lsi.model.projection
src/DataTinkering/proposed_stopwords.txt
.vscode/settings.json

src/stats/*
src/dataset/*
src/models/index/*.lsi*

ir-project-greek-parliament-2025-2026.pdf