DataTinkering/df_checkpoint.pkl
DataTinkering/lsi.model
DataTinkering/lsi.model.projection
DataTinkering/proposed_stopwords.txt
.vscode/settings.json
dataset
spark_nlp_cache
ir-project-greek-parliament-2025-2026.pdf
models
.idea