src/DataTinkering/df_checkpoint.pkl
src/DataTinkering/lsi.model
src/DataTinkering/lsi.model.projection
src/DataTinkering/proposed_stopwords.txt
.vscode/settings.json

src/dataset
src/stats
ir-project-greek-parliament-2025-2026.pdf

# I only need the pipeline folder and the index folder without its contents from inside the models folder
src/models/index/*
src/models/*
!src/models/index
!src/models/sparknlp_pipeline